.page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
  background: rgba(255, 255, 255, 0.85);
  padding: 35px 45px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Georgia", serif;
}

.input-group {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 8px;
}

.input-group span {
  font-size: 26px;
  margin-right: 8px;
}

.input-group input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 17px;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #4a3325;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

.btn:hover {
  background: #3a2618;
}

.switch {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}

.switch a {
  color: #4a3325;
  font-weight: bold;
  text-decoration: none;
}