<div class="book-layout">
  <div class="left-panel">
    <div class="title-login">
      <h1>Chef's Mind</h1>
      <button class="login">
        <span class="material-icons" routerLink="/login">person</span>
      </button>
    </div>
    <ul>
      <li><a routerLink="/recetas">Recetas</a></li>
      <li><a routerLink="/despensa">Despensa</a></li>
      <li><a routerLink="/foro">Foro</a></li>
      <li><a routerLink="/sobrenosotros">Sobre Nosotros</a></li>
    </ul>
  </div>

  <div class="right-panel">
    <router-outlet></router-outlet>
  </div>
</div>


