.book-layout {
  display: flex;
  width: 100%;
  height: 100vh;
  background-size: cover;       /* La imagen cubre todo el fondo */
  background-position: center;  /* Centrada */
  background-repeat: no-repeat; /* No se repite */
}

.left-panel {
  flex: 1;
  background: #f0e6d2;
  padding: 2rem;
  border-right: 4px solid #d3b78f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-panel h2 {
  margin-bottom: 2rem;
  color: #4a3c26;
}

.left-panel ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.left-panel li {
  margin-bottom: 1rem;
}

.left-panel a {
  text-decoration: none;
  color: #4a3c26;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background 0.3s;
}

.left-panel a:hover,
.left-panel a.active {
  background: #d3b78f;
  color: white;
}

.right-panel {
  flex: 2;
  padding: 2rem;
  background: #fffdf8;
  overflow-y: auto;
}
.title-login{
  display: flex;
  width: 100%;
  gap: 90px;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.login{
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.material-icons{
  font-size: 40px;
}
