<div class="page-container">
  <form (submit)="submit()" [formGroup]="form">
    <div class="form-box">
      <h2>Iniciar Sesión</h2>

      <div class="input-group">
        <span class="material-icons">mail</span>
        <input type="text" placeholder="Correo" formControlName="email">
      </div>
      <small *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        Debes ingresar un email válido.
      </small>

      <div class="input-group">
        <span class="material-icons">lock</span>
        <input type="password" placeholder="Contraseña" formControlName="password">
      </div>
      <small *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        Se necesita una contraseña válida.
      </small>

      <div class="remember-row">
        <label class="remember-me" for="remember-checkbox">
          <input type="checkbox" id="remember-checkbox" class="remember-checkbox" [(ngModel)]="remember" [ngModelOptions]="{ standalone: true }">
          <span class="checkmark"></span>
          Recordar
        </label>
      </div>

      <button class="btn" type="submit" [disabled]="form.invalid">Entrar</button>

      <p class="switch">
        ¿No tienes cuenta?
        <a routerLink="/register">Regístrate aquí</a>
      </p>
    </div>
  </form>
</div>